<h1 class="text-center">In-Progress Application Samples</h1>


<div class="well app-row">
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
  <div class="col-md-9 temp-border">
    <h1 class="text-center">Support Center</h1>
    <div class="col-md-3">
      <h2 class="table-space">APPLICATION URL</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://support-center-sample-app.herokuapp.com/", 'https://support-center-sample-app.herokuapp.com/' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">GITHUB REPOSITORY</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://github.com/downing034/sample_app", 'https://github.com/downing034/sample_app' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">DESCRIPTION</h2>
    </div>
    <div class="col-md-9">
      <h6 class="table-space text-center">Support Center is in in progress app designed to be used as a support community where customer can post the topics,
                                          follow users or topics, and get help with their questions.</h6>
    </div>
  </div>
</div>

<div class="well app-row">
  <div class="col-md-9 temp-border">
  <h1 class="text-center">My Dinners</h1>
    <div class="col-md-3">
      <h2 class="table-space">APPLICATION URL</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://mydinners.herokuapp.com/", 'https://mydinners.herokuapp.com/' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">GITHUB REPOSITORY</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "https://github.com/downing034/MyDinner", 'https://github.com/downing034/MyDinner' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">DESCRIPTION</h2>
    </div>
    <div class="col-md-9">
      <h6 class="table-space text-center">My Dinners is designed to be a recipe book which can be shared with other users. This is my newest project.
                                          Next features are to build out user authenticaion and a recipe framework.</h6>
    </div>
  </div>
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
</div>

<div class="well app-row">
  <div class="col-md-3 temp-border">
    <div class="app-circle">
    </div>
  </div>
  <div class="col-md-9 temp-border">
  <h1 class="text-center">Blueprint Automation Generator (BANG)</h1>
    <div class="col-md-3">
      <h2 class="table-space">APPLICATION URL</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "URL SOON", 'URLSOON' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">GITHUB REPOSITORY</h2>
    </div>
    <div class="col-md-9">
      <h2 class="table-space"><%= link_to "URLSOON", 'URLSOON' %></h2>
    </div>
    <div class="col-md-3">
      <h2 class="table-space">DESCRIPTION</h2>
    </div>
    <div class="col-md-9">
      <h6 class="table-space text-center">BANG is an app I'm building to assist in QA Automation. The app allows users to enter input data easily in the UI,
                                          choose the info they need, and generate a custom XML file. This is file then will link to a python script which
                                          will then insert a row into a SQL database.</h6>
    </div>
  </div>
</div>


<!--

<div class="well app-row">
  <div class="col-md-3 temp-border">
  </div>
  <div class="col-md-9 temp-border">
  </div>
</div>

-->
